<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Plantronics Integration" Language="1033" Version="1.0.0.0" Manufacturer="Interactive Intelligence Open Source" UpgradeCode="eff3f453-060b-4b5a-8436-0a98cef22bdc">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="CLIENTINSTALLPATH">
      <RegistrySearch Id="ClientInstallPath"
                      Root="HKLM"
                      Key="SOFTWARE\Interactive Intelligence"
                      Name="Value"
                      Type="raw"/>
    </Property>
    
    
    <Condition Message="The Interaction Desktop Client must be installed first">
      <![CDATA[CLIENTINSTALLPATH]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CLIENTINSTALLPATH">
        <Directory Id="USERAPPSFOLDER" Name="ICUserApps" >
          <Directory Id="ADDINFOLDER" Name="AddIns" />
        </Directory>
      </Directory>
    
      <Directory Id="ProgramFilesFolder">
        <Directory Id="AUTOSTARTDIRECTORY" Name="Client Auto Start"/>
     
        <Directory Id="PLANTRONICS" Name="Plantronics">
          <Directory Id="SPOKES3G" Name="Spokes3G"/>
        </Directory>
      </Directory>

    </Directory>


    <Property Id="SPOKESVERSION">
      <DirectorySearch Id="SpokesHubVersion" Path="C:\Program Files (x86)\Plantronics\Spokes3G">
        <FileSearch Name="PLTHub.exe" MinVersion="3.4.50921.12980"/>
      </DirectorySearch>
    </Property>

    <Condition Message="Plantronics Hub v3.4 or greater must be installed. ">
      <![CDATA[SPOKESVERSION]]>
    </Condition>


    <UIRef Id="UserInterface"/>

    <DirectoryRef Id="ADDINFOLDER">
      <Component Id="PlantronicsSupervisorClientAddIn.d" Guid="5FF6D4D4-34C6-4E2D-A652-741F24290AA5">
        <File Source="$(var.PlantronicsSupervisorClientAddIn.TargetPath)" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ADDINFOLDER">
      <Component Id="PlantronicsClientAddIn.d" Guid="CDB2AF57-042C-4A00-ACA0-2548B8E8F40A">
        <File Source="$(var.PlantronicsClientAddIn.TargetPath)" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AUTOSTARTDIRECTORY">
      <Component Id="ClientAutoStart.e" Guid="E3C3369C-133C-4252-8060-5BF03D0B4972">
        <File Source="$(var.ClientAutoStart.TargetPath)" />
      </Component>
    </DirectoryRef>

    <Feature Id="SupervisorAddIn" Title="Supervisor AddIn" Level="1" Description="AddIn to view headset information for agents.">
      <ComponentRef Id="PlantronicsSupervisorClientAddIn.d"/>
    </Feature>

    <Feature Id="ClientAddIn" Title="Client AddIn" Level="1" >
      <ComponentRef Id="PlantronicsClientAddIn.d"/>
    </Feature>

    <Feature Id="ClientAutoStart" Title="Interaction Desktop Auto Start" Level="1">
      <ComponentRef Id="ClientAutoStart.e"/>
    </Feature>

  </Product>
</Wix>